[Unit]
Description=Gnome Keyring Daemon

[Service]
ExecStart=/usr/bin/gnome-keyring-daemon --start --foreground --components=pkcs11,secrets,ssh
Restart=on-abort

[Install]
WantedBy=graphical-session.target