[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
            timeout 300 'swaylock --clock --grace 10 --screenshots --effect-blur 10x10' \
            timeout 600 'swaymsg "output * dpms off"' \
                resume 'swaymsg "output * dpms on"' \
            before-sleep 'swaylock --clock --grace 10 --screenshots --effect-blur 10x10'

[Install]
WantedBy=sway-session.target
