[Unit]
Description=Swayr, a window-switcher & more for Sway
Documentation=https://sr.ht/~tsdh/swayr/
PartOf=sway-session.target

[Service]
Type=simple
ExecStart=swayrd

[Install]
WantedBy=sway-session.target
