window {
    border: 2px solid #25493F;
    border-radius: 12px;
    background-color: #83A397; 
}

#input {
    color: #1F2025;
    border: 2px solid #25493F;
    border-radius: 12px;
    background-color: #B3C0BC;
    font-size: 18px;
}


#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #bd93f9;
}

#scroll label {
    margin: 1px 1px;
}

#entry {
    color: #1F2025
}

#entry:selected {
    color: #B3C0BC;
    background-color: #25493F;
}
